body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 800px;
    border: 10px double darkblue;
}

/* general styling */
.one, .two, .three, .four, .five, .six {
    display: flex;
    flex: 1
}
.container button {
    font-size: 20px;
    border-radius: 10px;
    flex: 1;
    border-style: groove;
    border-color: darkcyan;
    background: aliceblue;
}

.container button.operators {
    background: chocolate;
}


#\30 { /* id = 1 */
    flex: 2.12;
}

.container .one {
    display: flex;
    flex-direction: column;
}

.container .one .display {
    flex: 1;
}

.container .one .operation.display {
    align-self: flex-start;
    font-size: 40px;
    padding-left: 10px;
}
.container .one .result.display {
    font-size: 40px;
    padding-right: 10px;
    align-self: flex-end;
}