body {
    min-height: 92vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 50px;
}

.header .title {
    font-size: 30px;
}

.content {
    display: flex;
    width: 830px;
    height: 820px;
    border: 10px solid aquamarine;
    border-radius: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 800px;
    border: 10px double darkblue;
    border-radius: 5px;
}

/* general styling */
.one, .two, .three, .four, .five, .six {
    display: flex;
    flex: 1
}
.container button {
    font-size: 20px;
    flex: 1;
    border-style: groove;
    border-color: darkcyan;
    border-radius: 5px;
    background: aliceblue;
}

.container button.operators {
    background: chocolate;
}

.container button.clear {
    background: beige;
}

#\30 { /* id = 1 */
    flex: 2.12;
}

.container .one {
    display: flex;
    flex-direction: column;
}

.container .one .display {
    flex: 1;
}

.container .one .operation.display {
    align-self: flex-start;
    font-size: 40px;
    padding-left: 10px;
}
.container .one .result.display {
    font-size: 40px;
    padding-right: 10px;
    align-self: flex-end;
}

.content .instruction {
    padding: 5px;
    width: 200px;
    border-radius: 5px;
    background-color: bisque;
}

.content .instruction li {
    margin-top: 5px;
}